
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



        
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: #272727;
}

* {
  box-sizing: border-box;
}

// body {
//   background-color: #272727;
//   color: #fff;
//   font-family: 'Montserrat', sans-serif;
// }

h1 {
  font-family: 'Bebas Neue', sans-serif;
  padding: 0px;
  margin: 0px;
  margin: 0 0 20px 0;
  // font-weight: 500 !important;
}

p {
  line-height: 2em;
}

.container {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  // min-height: 100vh;
  // max-width: 100vw;
  
  .title {
    margin: 0 0 16px 0;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    color: #ffffff;
    // display: inline;
    line-height: 0.8rem;
    text-align: left;
    padding-bottom: 10px;
    // width: 100%;

    .title-dot {
      font-family: 'Montserrat', sans-serif;
      font-size: 4rem;
      color: #FFF032;
    }

    a {
      text-decoration: none;
      color: #ffffff;
  
      &:hover {
        color: #FFF032;
      }
      // &:focus,
      // &:active {
      //   text-decoration: underline;
      // }
    }
  }
  
  main {
    width: 100%;

    &.login {
      .login-page {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          color: #979797;
          font-size: 14px;
        }

        .login-buttons {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 40px 0 40px 0;
          .login-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            &-description {
              margin-bottom: 10px;
              color: #979797;
              font-size: 12px;
            }

            button {
              border: 1px solid #979797;
              background-color: transparent;
              padding: 15px 30px;
              color: white;
              border-radius: 10px;
              font-family: 'Montserrat', sans-serif;
              font-size: 16px;
              cursor: pointer;

              &:hover {
                border: 1px solid yellow;
                color: yellow;
              }
            }
          }
        }
      }
    }

    &.portal {
      min-height: 300px;
      display: flex;
      width: 100vw;
      box-sizing: border-box;
      padding: 40px 70px;
      width: 100%;

      a {
        text-decoration: none;
        color: #e0e0e0;
        background-color: #111;
        padding: 5px 8px;
        border-radius: 5px;
    
        &:hover {
          color: #FFF032;
          background-color: #000000;
        }
        // &:focus,
        // &:active {
        //   text-decoration: underline;
        // }
      }

      &.xs {
        padding: 20px 30px;
      }
  
  
      .sidebar { 
        background-color: #1F1F1F;
        padding: 20px 20px 20px 70px;
        margin: 0 35px 0 0;
        height: 100%;
        width: 500px;
        box-sizing: border-box;
      }
  
  
      .notice {
        border: 1px solid #414141;
        padding: 20px;
        margin-bottom: 20px;
        width: 100%;
  
        h3 {
          font-size: 12px;
          text-transform: uppercase;
          padding: 0px;
          margin: 0px;
          margin: 0 0 5px 0;
          color: #A5A5A5;
        }
  
        p {
          margin: 0;
          padding: 0;
        }
      }
  
      .dashboard {
        width: 100%;
  
        hr {
          color: #414141;
          width: 1px;
        }
  
        .statistics {
          display: flex;
          flex-direction: row;
          margin-bottom: 30px;
  
          .card {
            width: 250px;
            border: 1px solid #414141;
            padding: 15px;
            // margin-right: 10px;
  
            &.multiple {
              width: auto;
            }
  
            h2 {
              font-family: 'Bebas Neue', sans-serif;
              padding: 0px;
              margin: 0px;
              margin: 0 0 5px 0;
            }
  
            .points {
              display: flex;
              flex-direction: column;
  
              &-value {
                font-size: 30px;
              }
  
              &-type {
                margin-top: 5px;
              }
            }
  
            .points-collection {
              display: flex;
              flex-direction: row;
  
              .points {
                margin-right: 20px;
              }
            }
  
            &:hover {
              border: 1px solid white;
            }
          }
        }
      }
  
      .profile {
        width: 100%;

        h1 {
          // font-family: 'Montserrat', sans-serif;
          // font-weight: 400;
          // font-size: 20px;
          // text-transform: uppercase;
        }
  
        .heading {
          // display: flex;
          // flex-direction: row;
          // justify-content: space-between;
          // align-items: flex-end;
          margin-top: 10px;
          margin-bottom: 10px;
  
          h1 {
            margin: 0;
            line-height: 28px;
          }
  
          span {
            // margin-bottom: 9px;
            font-size: 13px;
            color: #e0e0e0;
          }
        }
  
        .profile-info {
          // display: flex;
          // flex-direction: rows;
          // justify-content: space-between;
          width: 100%;
          margin: 0 0 40px 0;
          
          
  
          &-card {
            // display: flex;
            // flex-direction: row;
            // align-items: flex-start;
            // margin-right: 20px;
            min-width: 200px;
    
    
            h6 {
              // font-family: 'Bebas Neue', sans-serif;
              padding: 0px;
              margin: 3px 0 0 0;
              text-transform: uppercase;
              font-size: 13px;
              width: 100px;
            }
  
            .autocomplete {
              margin-top: 16px;
              width: 100%;
            }
  
            // input {
            //   background-color: transparent;
            //   border: 1px solid #414141;
  
            //   &:hover, &:focus {
            //     border: 1px solid #ffffff;
            //   }
            // }
    
          }


          .voting-info {
            border-bottom: 1px solid #414141;
            padding: 20px 0 10px 0;
            // max-width: 100%;

            h1 {
              font-size: 25px;
              margin: 0;
              padding: 0;
              line-height: 19px;
              font-family: 'Bebas Neue', sans-serif;
            }

            span {
              color: #bdbdbd;
              font-size: 14px;
              line-height: 7px;
            }

            .item {
              padding: 10px 15px;
              // max-width: 100%;
              width: 200px;
              height: 80px;
              border: 1px solid #9e9e9e;
              border-radius: 5px;
              margin: 0;
              padding: 12px 17px;

              &-header {
                font-size: 12px;
                font-weight: 600;

                h3 {
                  margin: 0 0 10px 0;
                  padding: 0;
                  font-weight: 600;
                  font-size: 12px;
                  color: #666666;
                  text-transform: uppercase;
                }

                .action {
                  display: none;
                  color: #cccccc;
                }
              }

              &.add-new-account {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #9e9e9e;

                h3 {
                  margin: 0;
                  color: #999999;
                  font-weight: 500;
                  font-size: 14px;
                }

                &:hover {
                  h3 {
                    color: #ffffff;
                  }
                }


              }

              span {
                color: #fff;
                font-size: 16px;
              }

              &:hover {
                border: 1px solid #ffffff;
                cursor: pointer;
                color: #ffffff;


                h3 {
                  color: #999999;
                }

                .action {
                  display: inline;
                  color: #ffffff;
                }
              }
            }
          }
        }
  
        .voting-profile {
          margin-top: 50px;
        }
      }
    }
  }



  .navigation {
    // max-width: 100%;
    // min-width: 100%;
    width: 100%;
    border-bottom: 1px solid #414141;
    min-height: 100px;
    // display: flex;
    // flex-direction: row;
    // align-items: flex-end;
    // justify-content: space-between;
    padding: 0 70px;
    box-sizing: border-box;

    &.xs {
      padding: 0 30px;
    }

    // .title {
    //   a {
    //     line-height: 10px;
    //   }
    // }

    .links {
      padding-bottom: 10px;
      // width: 100%;
      // display: flex;
      // flex-direction: row;
      // height: 100%;
      // align-items: flex-end;

      &.xs {

      }
      .link {
        // padding: 0 30px 16px 30px;
        width: unset;
        
        .link-note {
          font-weight: 500;
          font-size: 0.8rem;
          text-transform: uppercase;
          color: #979797;
        }
  
        .link-login {
          cursor: pointer;
  
          &:hover {
            font-weight: 600;
          }
        }
      }
  
      a {
        font-weight: 600;
        color: #C2C2C2;
        text-decoration: none;
    
        &[aria-current] {
          background-color: #faf9f4;
          color: #353637;
        }
  
        &:hover {
          color: #FFF;
        }
      }
    }
  }

  footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #414141;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin-left: 0.5rem;
    }
    
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .slogan {
    padding: 0 70px;
    min-height: 300px;

    .description {
      margin-top: 70px;
      line-height: 1rem;
      font-size: 1.5rem;
    }
  
    .sub-description {
      color: #9B9B9B;
      line-height: 1;
      font-size: 1.5rem;
    }
  }

  .icon {
    margin-right: 5px;
  }

  .icon-music {
    -webkit-mask: url('/icon-music.svg') no-repeat center;
    mask: url('/icon-music.svg') no-repeat center;
    background-color: black;
    width: 11px;
    height: 11px;
  }

  .icon-arrow-up {
    -webkit-mask: url("/arrow-up.svg") no-repeat center;
    mask: url("/arrow-up.svg") no-repeat center;
    background-color: black;
    width: 9px;
    height: 5px;
  }

  .timeline {
    position: relative;
    padding: 20px 70px 20px 20px;
    width: calc(100% - 500px - 35px);

    .future {
      .future-arrow {
        width: 21px;
        height: 21px;
        background-color: white;
        border-radius: 10.5px;
        margin-left: 124px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: black;

          .icon-arrow-up {
            background-color: white;
          }
        }
      }
      
      .cards {
        border-left: 1px dashed #C4C4C4;
        margin-left: 134px;
        width: calc(100% - 134px);
        padding-top: 10px;

        .card {
          position: relative;
          padding: 0px 0 20px 40px;
          width: 100%;

          h2 {
            font-family: 'Bebas Neue', sans-serif;
            padding: 0px;
            margin: 0px;
            color: #A1A1A1;
          }

          .node {
            width: 15px;
            height: 15px;
            border: 1px solid #C4C4C4;
            border-radius: 7px;
            position: absolute;
            left: -8px;
            background-color: #272727;
            top: 6px;
          }

          .details {
            display: flex;
            align-items: center;

            .app-link {
              margin-left: 20px;

              .tooltip {
                font-size: 20px;
                line-height: 10px;
              }
              
            }


            .categories {
              display: flex;
              align-items: center;
              margin-left: 30px;

              .category {
                background-color: #000000;
                color: #A1A1A1;
                padding: 3px 10px;
                border-radius: 14.5px;
                margin-right: 10px;
                height: 29px;
                display: flex;
                align-items: center;
                cursor: pointer;

                span{

                  font-size: 11px;
                  text-transform: uppercase;
                  font-weight: 600;
                }

                .icon {
                  background-color: #A1A1A1;
                }

                &:hover {
                  background-color: #1A1A1A;
                  color: white;
                  
                  .icon {
                    background-color: white;
                  }
                }
              }
              
            }
          }

          &:hover {
            .node {
              border: 1px solid white;
            }

            h2 {
              color: white;
            }

          }
        }
      }
    }

    .present {
      position: relative;

      .present-node {
        width: 20px;
        height: 20px;
        background-color: #FFF032;
        border-radius: 10px;
        margin-left: 124px;
      }
    }
  }
}

::-moz-selection { background: yellow; color: grey; }
::selection { background: yellow; color: grey; }


.modal-style {
  width: 100vw;
  height: 100vh;
  background-color: #272727;
  position: absolute;
  color: #ffffff;
  padding: 30px;
  
  h2 {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 19px;
  }

  .close {
    -webkit-mask: url("/close.svg") no-repeat center;
    mask: url("/close.svg") no-repeat center;
    background-color: #ffffff;
    width: 17px;
    height: 17px;
    cursor: pointer;
  }

  .ticket {
    width: 100%;
  }

  .button {
    width: 100%;
    height: 100%;
    height: 56px;
  }
}